---
title: News
layout: default
sectionid: news
---


<div class="container">
    <div class="inner-content">
        {% assign sorted_news = site.news | sort:"date" | reverse %}
        <h1>All News</h1> {% for page in sorted_news %}
        <p>
            <strong><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></strong>
            <span>on {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{ page.author }}{% endif %}</span>
        </p>
        {% endfor %}
    </div>
</div>
